:root {
    --main-bg-color: brown;
    --about-color:#0bb634;
  }
html{
    font-family: 'Roboto', sans-serif;
}
main{
    /* padding: 0 2rem; */
    /* max-width: 1200px; */
}

/* -------------------Home Page ------------ */

.sectionShow{
    /* margin-left: -2rem;;
    margin-right: -2rem; */
    padding: 2rem; 
    background: #333;
    color: whitesmoke;
    text-align: center;
}
.showItem{
    padding: 2rem 0;
}
.green{
    color: #0bb634;
}
.showItem h3 {
    padding-top: 1rem;

}
.btnAbout{
    background: #0bb634;
}
.sectionIntro {
    padding-top: 3rem;
    background: #f4f4f4;
    text-align: center;
    
}
.contentQuestions{
    max-width: 800px;
    margin: 0 auto;

}
.contentQuestions ul {
    list-style: none;
    padding:10px;
    color:#111;

}
.contentQuestions .ans{
    max-width: 500px;
    background: #333;
    color: white;
    margin: 0 auto;
    border-radius: 1rem;
    /* margin-top:5rem;  */
    margin-top: -80px;
    position: relative;
    bottom: -90px;
}
.sectionIntro li {
    padding:1rem;   
    font-size: 1.2rem;
}
.sectionIntro li:nth-child(even){
    color:#555;
}
.ansText{
    font-size: 2rem;
    /* text-align: center; */
    padding: 1rem;
    margin-top: 1rem;
}

.sectionHome{
    padding-top: 110px;
    background: rgba(81,116,209, 0.5);
    /* color: white; */
    font-weight: 600;
    padding-bottom: 3rem; 
}
.sectionHome h2{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.sectionHome h3{
    text-align: center;
    /* font-size: 2rem; */
    padding: 1rem;
}
.sectionHome .contentHome {
    /* padding: inherit;
    padding: initial; */
    max-width: 800px;
    margin: 0 auto;

}
.sectionHome ol {
    padding:1rem;   
    font-size: 1.2rem;
}
.sectionHome ol li{
    margin-left:3rem;  
    
}
.sectionHome ul {
    padding:1rem;   
    /* font-size: 1.2rem; */
    color:#555; 
    list-style: none;
}

/* --------------------- About Page----------------- */

.sectionAbout{
    padding: 2rem 2rem;
}
.sectionAbout h2{
    font-size: 2rem;
    padding:2rem;
    text-align: center;
}
.sectionAbout h3{
    text-align: center;
    /* font-size: 2rem; */
    padding: 1rem;
}
.flexContainer{
    display: flex;
    /* border: #333 solid 1px; */
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    
}
@media(min-width:900px){
    .flexContainer{
        flex-direction: row;
    }
}
.col{
    /* margin: 1rem; */
    padding: 1rem;
    /* margin: 0 auto; */
    
}
.col50{
    align-items: center;
    flex-basis: 50%;
    /* flex: 0 1 30%; */
}
.col30{
    flex-basis: 30%;
}
.col70{
    flex-basis: 70%;
}
.col:nth-child(1) {
    /* background-color: lightblue; */
  }
.col:nth-child(2) {
    /* background-color: lightgreen; */
  }
.col:nth-child(3) {
    background-color: lightcoral;
  }
.textBox {
    font-size: 1.2rem;
    text-align:justify; 

}
.imgProject {
    width: 100%;
	height: auto;
	max-width: 300px;
}
.technical ul {
    list-style: none;
    font-size: 1.2rem;
}
.technical li {
    padding: 0.2rem;
}

/* -------------------Order Page---------- */
.orderContent {
    background: #eceef1;
    
}
.orderContent {
    padding: 5rem;
}
.orderHeader {
    border: 1px solid black;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.orderHeader .orderButton{
    margin: 0;
}
.block{
    display: block;
    color:white;
    padding: 1rem;
    text-align: center;
}
.orderContent img {
    width: 100%;
    margin-bottom: 2rem;
}
.orderText {
    padding: 1rem 0;
}
.formOrder .orderButton {
 width: 100%;   

}
.formOrder > div{
    /* width: 80%; */
    /* flex-grow: 1; */
    padding: 1rem;
    text-align: left;
}
.formOrder > div input{
    margin-right:1rem; 
}

.quantityDiv {
    display: flex;
    justify-content: space-between;
}

/* =----------- */
.deliveryForm {
    /* height: 800px; */
    width: 100%;
    max-width: 500px;
    /* background-color:#0bb634; */
    border-radius: 5px;
    margin: 50px auto;
    padding: 40px;

}
.form-wrap {
    max-width: 800px;
    margin: 0 auto;
}
.form-order{
    margin: 0 auto;
    list-style: none;

}
.deliveryForm legend {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.form-wrap li:not(:last-child){
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(50,50,50, 0.5);
}
.form-wrap li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.form-wrap li label,
.form-wrap li p {
    padding: 8px 20px 8px 0px;

    flex: 2 1 120px;
    max-width: 300px;
    align-self: flex-start;
}

/* label + * =  select all * elements that are placed immediately after label element */
.form-wrap > li > label + *,
.form-wrap > li > p + *{
    flex: 1 0 180px;
}
.form-wrap li input,
.form-wrap li textarea,
.form-wrap li select {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

.form-wrap li button {
    margin: 25px auto 0px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    /* text-transform: uppercase; */
    letter-spacing: .09em;
    border-radius: 2px;
}


/* --------- Contact Page -------- */
.sectionContact{
    text-align: center;
    padding: 2rem;
}
.formSignUp{
    background: #0bb634#a8b9e8;
    background:rgba(81,116,209, 0.5)
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    /* color:white; */
    text-align: left;
    border-bottom: rgba(50,50,50, 0.5);
}
#signUp li{
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(50,50,50, 0.5);
}
.formSignUp legend{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

/* .btnSign{
    border:2px solid white;
    border-radius: 10px;
} */