:root {
    --main-bg-color: brown;
    --about-color:#0bb634;
  }
html{
    font-family: 'Roboto', sans-serif;
}
main{
    /* padding: 0 2rem; */
    /* max-width: 1200px; */
}

/* -------------------Home Page ------------ */

.sectionShow{
    /* margin-left: -2rem;;
    margin-right: -2rem; */
    padding: 2rem; 
    background: #333;
    color: whitesmoke;
    text-align: center;
}
.showItem{
    padding: 2rem 0;
}
/* .showItem  */
.green{
    color: #0bb634;
}
.showItem h3 {
    padding-top: 1rem;

}
.btnAbout{
    background: #0bb634;
}
.sectionIntro {
    padding-top: 3rem;
    background: #f4f4f4;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    
}
.sectionIntro ul {
    list-style: none;
    padding:10px;
    color:#111;

}
.sectionIntro .ans{
    max-width: 500px;
    background: #333;
    color: white;
    margin: 0 auto;
    border-radius: 1rem;
}
.sectionIntro li {
    padding:1rem;   
    font-size: 1.2rem;
}
.sectionIntro li:nth-child(even){
    color:#555;
}
.ansText{
    font-size: 2rem;
    /* text-align: center; */
    padding: 1rem;
}

.sectionHome{
    margin: 2rem 0;
    text-align: center;

}
.sectionHome h2{
    font-size: 2rem;
    padding: 1rem;
}
.sectionHome h3{
    /* font-size: 2rem; */
    padding: 1rem;
}


/* -------------Order Page---------- */
.survey {
    /* height: 800px; */

    width: 100%;
    /* min-height: 70vh; */
    max-width: 500px;

    background-color:#0bb634;;
  
    border-radius: 5px;
    margin: 50px auto;
    padding: 40px;
    color: white;
    /* text-align: center; */
}
.form-wrap {
    max-width: 800px;
    margin: 0 auto;
}
.form-order{
    margin: 0 auto;
    list-style: none;

}
.form-order li select {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}
.survey legend{
    text-align: center;
    font-size: 1.1rem;
    
}
.survey >p {
    text-align: center;
    margin-bottom: 30px;
}

.form-wrap li,
.flex-inner{
    list-style: none;
    padding: 0;
}
.form-wrap li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.form-wrap li label,
.form-wrap li p {
    padding: 8px 20px 8px 0px;

    flex: 2 1 120px;
    max-width: 300px;
    align-self: flex-start;
}
/* .form-wrap p {
    margin: 20px 0px 15px 0px;
} */

/* label + * =  select all * elements that are placed immediately after label element */
.form-wrap > li > label + *,
.form-wrap > li > p + *{
    flex: 1 0 180px;
}
.form-wrap li input,
.form-wrap li textarea,
.form-wrap li select {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}
.flex-radio li input,
.flex-inner li input{
    margin-right: 20px;
}
.form-wrap li button {
    margin: 25px auto 0px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

/* --------------------- About Page------------- */

.sectionAbout{
    padding: 0 2rem;
}
.flexContainer{
    display: flex;
    border: #333 solid 1px;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    
}
@media(min-width:40rem){
    .flexContainer{
        flex-direction: row;
    }
}
.col{
    /* margin: 1rem; */
    padding: 1rem;
    /* margin: 0 auto; */
    
}
.col50{
    flex-basis: 50%;
    /* flex: 0 1 30%; */
}
.col30{
    flex-basis: 30%;
}
.col70{
    flex-basis: 70%;
}
.col:nth-child(1) {
    background-color: lightblue;
  }
.col:nth-child(2) {
    background-color: lightgreen;
  }
.col:nth-child(3) {
    background-color: lightcoral;
  }
.imgProject {
    width: 100%;
	height: auto;
	max-width: 300px;
}

/* --------- 4 Page -------- */

.btnSign{
    border:2px solid white;
    border-radius: 10px;

}